
.header {
    padding: 50px;
    background-color: aliceblue;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
}

.subtitle {
    padding-left: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
}

li {
    display: inline;
    padding: 50px;
}

a {
    padding: 10px;
    background-color: aliceblue;
}

nav {
    padding-bottom: 40px;
}

img {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

p {
    font-size: 20px;
    line-height: 150%;
}

